extends layout
block content
    h1= title
    - let Airlineid = toShow._id
    - let airlines_name = toShow.airlines_name
    - let seating = toShow.seating
    - let price = toShow.price
    div.row(class='mb-2')
        div.mr-1 ID is
        div #{Airlineid}
    - let actionid = "/resource/Airlines/" + Airlineid
    form(id='AirlinesForm', action= actionid, method="PUT")
        div.form-group
            label.costumeAttr(for='airlines_name') airlines_name
            input#airlines_name(type='text', name='airlines_name', value= airlines_name )
        div.form-group
            label.costumeAttr(for='size') seating
            input#seating(type='text', name='size', value= seating )
        div.form-group
            label.costumeAttr(for='price')  price
            input#price(type='number', name='price', value= price )
        input(type="submit")
    script.
        document.forms['AirlineForm'].addEventListener('submit', (event) => {
            event.preventDefault();
// TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Update succeded")
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Update failed " + error )
            });
}       );

